<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="AppName" value="Sistema de Ferramentas"/>
		<add key="AppVersion" value="1"/>
		<add key="ServerUrl" value="http://192.168.0.11"/>
	</appSettings>
</configuration>